/* COMMON PARAMETERS */
@font-face {
    font-family: "Bai Jamjuree 400";
    src: url(../fonts/BaiJamjuree-Regular400.ttf);
}

@font-face {
    font-family: "Bai Jamjuree 600";
    src: url(../fonts/BaiJamjuree-SemiBold600.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree 400";
}

img {
    width: 100%;
}

/* ---------------------- HEADER ---------------------- */

header {
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- MAIN ---------------------- */

main {
    font-size: 18px;
    text-align: center;
}

main p {
    color: hsl(201, 11%, 66%);
}

/* COMMON */

h1 {
    color: hsl(210, 10%, 33%);
    padding: 1rem;
    font-size: 2rem;
}

h2 {
    color: hsl(210, 10%, 33%);
    margin: 1rem 0;
    font-size: 1.8rem;
}

h3 {
    color: hsl(210, 10%, 33%);
    margin: 1rem 0;
    font-size: 1.5rem;
}

#functionality,
#access,
#workflow,
#partner,
#downloadDown {
    width: 90%;
    margin: 25vh auto;
}

/* BUTTONS */

.button {
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 3vh 0;
    border-radius: 100px;
    box-shadow: 0px 3px 5px 0px #878787;
    border: 1px black solid;
}

.iosDownloadButton {
    background-color: hsl(171, 66%, 44%);
}

.macDownloadButton {
    background-color: hsl(233, 100%, 69%);
}

/* DOWNLOAD - Section */

#download {
    width: 90%;
    margin: 10vh auto;
}

#download p {
    margin: 1rem 0 3rem 0;
}

/* FUNCTIONALITY - Section */

#blockFunction {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#functions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#functions div {
    margin: 1rem;
    font-stretch: extra-expanded;
}

/* ACCESS - Section */

#access div {
    margin-top: 5rem;
}

/* WORKFLOW - Section */

#functionCards p {
    font-stretch: extra-expanded;
}

#functionCards {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}

#functionCards .card {
    margin: 2rem;
}

#functionCards .card img {
    height: 5vh;
    width: auto;
}

/* PARTNER - Section */

#partner {
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

}

#partner div {
    width: 100%;
    margin: 2rem;
}

/* DOWNLOAD DOWN - Section */

#downloadDown p {
    margin: 1rem 0 3rem 0;
}

/* ---------------------- FOOTER ---------------------- */

footer {
    background-color: #ececece8;
}

#footerNav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

#footerLogo {
    width: 15%;
    height: auto;
    margin-top: 3rem;
}

#footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh
}

#footerLinks div {
    color: hsl(210, 10%, 33%);
    font-size: 1.2rem;
}

#socialNetworks {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


/* --------------------------- END OF MOBILE VERSION --------------------------- */


/* --------------------------- DESKTOP VERSION --------------------------- */

@media screen and (min-width:1440px) {

    header {
        background-image: url(../images/bg-header-desktop.png);
    }

    main {
        font-size: 22px;
    }

    .button {
        display: inline;
        margin: 2rem;
        padding: 1rem 5rem;
    }

    #access,
    #workflow,
    #partner,
    #download,
    #downloadDown {
        width: 50%;
        margin: 25vh auto;
    }

    #download {
        margin: 10vh auto;
    }

    #functionality {
        width: 100%;
        margin: 25vh auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #functionality #functionalityParagraph {
        width: 50%;
    }

    #blockFunction {
        width: 100%;
        margin-top: 10vh;
        display: flex;
        align-content: flex-start;
    }
    #blockFunctionImage{
        width: 50%;
    }
    #functions {
        width: 50%;
        padding: 0 10vw;
        text-align: left;
    }
}