/* COMMON PARAMETERS */
@font-face {
    font-family: "Bai Jamjuree 400";
    src: url(../fonts/BaiJamjuree-Regular400.ttf);
}

@font-face {
    font-family: "Bai Jamjuree 600";
    src: url(../fonts/BaiJamjuree-SemiBold600.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree 400";
}

img {
    width: 100%;
}

/* ---------------------- HEADER ---------------------- */

header {
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- MAIN ---------------------- */

main {
    font-size: 18px;
    text-align: center;
}

main p {
    color: hsl(201, 11%, 66%);
}

/* COMMON */

h1 {
    color: hsl(210, 10%, 33%);
    padding: 1rem;
    font-size: 2rem;
}

h2{
    color: hsl(210, 10%, 33%);
    margin: 1rem;
    font-size: 1.8rem;
}

h3{
    color: hsl(210, 10%, 33%);
    margin: 1rem;
    font-size: 1.5rem;
}

#functionality, #access, #workflow, #partner, #downloadDown {
    width: 90%;
    margin: 25vh auto;
}

/* BUTTONS */

.button {
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 3vh 0;
    border-radius: 100px;
    box-shadow: 0px 3px 5px 0px #878787;
    border: 1px black solid;
}

.iosDownloadButton {
    background-color: hsl(171, 66%, 44%);
}

.macDownloadButton {
    background-color: hsl(233, 100%, 69%);
}

/* DOWNLOAD - Section */

#download{
    width: 90%;
    margin: 10vh auto;
}

#download p {
    margin: 1rem 0 3rem 0;
}

/* FUNCTIONALITY - Section */

#blockFunction{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#blockFunction div{
    margin: 1rem;
    font-stretch: extra-expanded;
}

/* ACCESS - Section */

#access div{
    margin-top: 5rem;
}

/* WORKFLOW - Section */

#functionCards p {
    font-stretch: extra-expanded;
}
#functionCards{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}

#functionCards .card{
    margin: 2rem;
}

#functionCards .card img{
    height: 5vh;
    width: auto;
}

/* PARTNER - Section */

#partner{
    width: 60%;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

}

#partner div{
    width: 100%;
    margin: 2rem;
}

/* DOWNLOAD DOWN - Section */

#downloadDown p {
    margin: 1rem 0 3rem 0;
}