/* COMMON PARAMETERS */

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}


/* HEADER */

header{
    border: 1px red solid;
    height: 30vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

