/* COMMON PARAMETERS */
@font-face {
    font-family: "Bai Jamjuree 400";
    src: url(../fonts/BaiJamjuree-Regular400.ttf);
}
@font-face {
    font-family: "Bai Jamjuree 600";
    src: url(../fonts/BaiJamjuree-SemiBold600.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree 400";
}

img{
    width: 100%;
}


/* ---------------------- HEADER ---------------------- */

header{
    border: 1px red solid;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------- MAIN ---------------------- */

main{
    font-size: 18px;
    text-align: center;
}
main p{
    color: hsl(201, 11%, 66%);
}

/* COMMON */

h1{
    color: hsl(210, 10%, 33%);
    padding: 1rem;
    font-size: 2rem;
}

.button{
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    margin: 3vh 0;
    border-radius: 100px;
    box-shadow: 0px 3px 5px 0px #878787;
    border: 1px black solid;
}

#iosDownloadButton{
    background-color: hsl(171, 66%, 44%);
}

#macDownloadButton{
    background-color: hsl(233, 100%, 69%);
}

/* DOWNLOAD - Section */

#download{

    width: 90%;
    margin: 10vh auto;
}

#download p{
    margin: 1rem 0 3rem 0;
}
